.App {
  text-align: center;
}
.dot {
    width: 50px;
    height: 50px;
    background: black;
    position: absolute;
}

.beam {
    width: 5px;
    height: 5px;
    background: black;
    position: absolute;

    --beamStartLeft: 0;
    --beamStartTop: 0;
    --beamEndLeft: 0;
    --beamEndTop: 0;
    --beamDelay: 0;

    animation-name: beam-move;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: var(--beamDelay);
}
@keyframes beam-move {
    0% {
        left: var(--beamStartLeft);
        top: var(--beamStartTop);
    }
    100% {
        left: var(--beamEndLeft);
        top: var(--beamEndTop);
    }
}
